body{
    background-color: whitesmoke;
    font-family: 'Karla', sans-serif;
}

.grid{
    /* display:grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "join join"
    "monthly why"; */
}

.join{
 grid-area: join;
 background-color: rgb(224, 222, 217);   
 padding: 10px 10px 10px 40px;
 max-width: 550px;
 min-width: 225px;
}

.join h1{
    color: rgb(4, 179, 179);
}

.join h2{
    color: rgb(166, 199, 49);
}

.month{
    grid-area: monthly;
    background-color: rgb(4, 179, 179); 
    color:  rgb(224, 222, 217);
    padding: 10px 10px 10px 40px;
    max-width: 225px;
   }

.why{
    grid-area: why;
    background-color: rgb(56, 204, 204);   
    color:  rgb(224, 222, 217);
    padding: 10px 10px 10px 40px;
    max-width: 225px;
   }

button{
    background-color: rgb(166, 199, 49);
    padding: 10px 80px 10px 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 5px;
    
}